---
---

@import 'custom/variables';
@import 'bootstrap/bootstrap';
@import 'custom/includes/nav';
@import 'custom/includes/social_links';
@import 'custom/includes/pager';
@import 'custom/includes/post';
@import 'custom/code';
@import 'custom/includes/page';
@import 'custom/includes/disqus';
@import 'custom/includes/intro';


@media (min-width: 1200px) {
  .container{
      max-width: 800px;
  }
}

body {
    font-family: $font-family-sans-serif;
    .primary-color {
        color: $primary;
    }

    .accent-color {
        color: $accent;
    }

    .jumbotron {
      background-color: #EEF7FB;
    }

    p {
        font-size: 18px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-headings;
    }

    a {
      text-decoration: none;
      &:hover { text-decoration: none;
      }
    }
    
}