// Colors
$primary: #ee6e73; // shell pink; Bootstrap variable
$accent: #26a69a; //teal; custom variable

//Fonts
$font-family-sans-serif: 'Lato', sans-serif; //Bootstrap variable
$font-family-serif: 'Fauna One', serif; //Bootstrap variable

