<div id="intro">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2>Hello, I'm Rachel</h2>
        <p>I am teaching myself how to make websites. You can teach yourself too. I'll help.
        Right now I am focusing on HTML, CSS, Ruby, and Ruby on Rails.
        As I am learning, I'll share information I've learned, resources I've found, and any tips and tricks I've pick up along the way.
        <p class="accent-color">Tip #1: Coding takes patience and coffee!</p>
      </div>
    </div>
  </div>