<div id="pager" class="container">
  <div class="row">
    
    <div class="col text-left">
        {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="btn btn-primary" href="{{ site.baseurl }}/"><i class="fas fa-arrow-left"></i> Newer posts</a>
        {% else %}
          <a class="btn btn-primary" href="{{ site.baseurl }}/page{{paginator.previous_page}}/"><i class="fas fa-arrow-left"></i> Newer posts</a>
        {% endif %}
      {% else %}
        <a class="disabled btn btn-primary"><i class="fas fa-arrow-left"></i> Newer posts</a>
      {% endif %}
    </div>
    <div class="col text-right">
      {% if paginator.next_page %}
        <a class="btn btn-primary" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older posts <i class="fas fa-arrow-right"></i></a>
      {% else %}
        <a class="disabled btn btn-primary">Older posts <i class="fas fa-arrow-right"></i></a>
      {% endif %}
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->