<section id="posts">
  <div class="container">
    {% for post in paginator.posts %}
    <div class="row">
      <div class="col-lg">   
         <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      </div> <!-- end col -->
      <div class="col-lg-3">
        <p class="text-right text-secondary d-none d-lg-block">
          {{ post.date | date: "%b %-d, %Y" }}
        <p class="text-secondary d-lg-none">
          {{ post.date | date: "%b %-d, %Y" }}
      </div> <!-- end col -->
    </div> <!-- end row -->
    
    <div class="row">
      <div class="col-lg">
              <p class="lead">
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </p>
      </div> <!-- end col -->
    </div> <!-- end row -->
       
      {% endfor %}
    </div> <!-- end container -->
  
</section>