<section id="posts">
  <div class="container">
    <div class="row">
      {% for post in paginator.posts %}
      <div class="col-sm-10">   
         <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <p class="lead">
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </p>
           
      </div>
      <div class="col-sm-2">
        <p class="text-right text-secondary">
          {{ post.date | date: "%b %-d, %Y" }}
        </p>
      </div>
      {% endfor %}
    </div> <!-- end row -->
  </div> <!-- end container -->
</section>