#post {
  padding-top: 40px;
  h1, h2, h3, h4 {
    color: $primary;
    padding-top: 10px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 12px 12px 3px rgba(34, 25, 25, 0.4);
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  ol, ul {
    font-size: 1.5em;
  }

}

#date {
  margin-top: -5px;
  padding-bottom: 10px;
}

#tags {
  padding-left: 20px;

  a {
    padding-right: 5px;
  }
}



